[submodule "vim-addon-local-vimrc"]
	path = bundle/vim-addon-local-vimrc
	url = https://github.com/MarcWeber/vim-addon-local-vimrc.git

[submodule "vim-jade"]
	path = bundle/vim-jade
	url = https://github.com/thynson/vim-jade.git

[submodule "vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/cpp11"]
	path = bundle/cpp11
	url = https://github.com/thynson/Cpp11-Syntax-Support
[submodule "bundle/xml"]
	path = bundle/xml
	url = https://github.com/othree/xml.vim
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "bundle/vim-taglist"]
	path = bundle/vim-taglist
	url = https://github.com/vim-scripts/taglist.vim
[submodule "bundle/jshint"]
	path = bundle/jshint
	url = https://github.com/walm/jshint.vim
[submodule "bundle/vim-nodejs-complete"]
	path = bundle/vim-nodejs-complete
	url = https://github.com/myhere/vim-nodejs-complete
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "bundle/ragel"]
	path = bundle/ragel
	url = https://github.com/jayferd/ragel.vim
